<table>
    <tr id="menuHeader">
      <td>Item #</td>
      <td>Name</td>
      <td class="description">Description</td>
      <td>Price</td>
      <td>Quantity</td>
    </tr>
    <tr id="p1">
      <td>1</td>
      <td>Cali</td>
      <td class="description">Description</td>
      <td>Price</td>
      <td><input type="number" id="pnum1" value="0"></td>
    </tr>
     <tr id="p2">
      <td>1</td>
      <td>Salmon</td>
      <td class="description">Description</td>
      <td>Price</td>
      <td><input type="number" id="pnum2" value="0"></td>
    </tr>
  </table>