<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>A Guide to Operating Systems</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="/media/favicon.ico" rel="icon" type="image/x-icon"/>
    </head>
    <body>
        <header>
            <h1>A Guide to Operating Systems</h1>
            <h2>From Arch Linux to Windows</h2>
        </header>
        <nav>
            <a href="/">Home Page</a>
            |
            <a href="/windows">Windows</a>
            |
            <a href="/gnu">GNU/Linux</a>
            |
            <a href="/mac">macOS</a>
        </nav>