<%- include('partials/header.ejs') %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Solar_sys8.jpg/800px-Solar_sys8.jpg" alt="Artist rendition of solar system">
        <%- include('partials/footer.ejs') %>
    </body>
</html>