<footer>
    Mike Limpus | CSUMB CS Online CST 336 Lab 4 <br>
    Images loaded via <a href="https://unsplash.com/documentation">Unsplash 
    API</a> and may not represent intended content <br>
    Planet information sourced from <a href="https://en.wikipedia.org/wiki/Solar_System">Wikipedia</a>
</footer>