<%- include('partials/header.ejs') %> 
        <figure>
            <img src = "media/os.jpg">
        </figure>
        <main>
            <p>
                In the world of general computing, there are many diffent options
                for desktop operating systems. Most of these operating 
                systems exist to serve the same general purose of allowing users
                to interact with the computer hardware in order to perform useful
                computations or calculations. Different operating systems can be 
                easier to use for a common user, have more powerful tools for 
                a more experienced user, or provide important platform-specific
                software. This site details three of the most 
                common systems: Windows, Linux, and macOS. 
            </p> 
        </main>
        <%- include('partials/footer.ejs') %>
    </body>
</html>