<%- include('partials/header.ejs') %>
<div class="subheader">
    <h3>macOS</h3>
</div>
<figure>
    <img src = "../media/apple-logo-apple.jpg">
</figure>
<main>
    <p>
        macOS is a Unix based proprietery operating system developed by Apple. It distinguishes itself from the 
        other operating systems listed on this site in that it is only available on computers made by Apple, such 
        as the Macbook or the Mac Pro. It is the second most popular operating system, behind Windows. <sub>[1]</sub>
        One feature that distinguishes macOS is the integration of the OS with the firmware and hardware. macOS is also 
        suffers from fewer cybersecurity threats than Windows <sub>[2]</sub> 
        
    </p> 
</main>
<div class="references">
    <h3>References</h3>
    <ol>
        <li>
            <a href="https://gs.statcounter.com/os-market-share/desktop/worldwide/#monthly-202106-202106-bar">
                Desktop Operating System Market Share Worldwide - StatCounter
            </a>
        </li>
        <li>
            <a href="https://www.techworm.net/2018/12/mac-os-pros-cons.html">
                What is Mac OS? Pros and Cons | Explanation 
            </a>
        </li>
    </ol>
</div>
<div class="updated">
    <%= updated %>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>