<%- include('partials/header.ejs') %>

<div class="subheader">
    <h3>Windows</h3>
</div>
<figure>
    <img src = "../media/windows.jpg">
</figure>
<main>
    <p>
        Microsoft Windows is the most common desktop operating system.<sub>[1]</sub> Windows is a closed source operating 
        system. It was originally created as an addon program to MS-DOS,<sub>[2]</sub>, but evolved and eventually replaced DOS 
        as Microsoft's primary operating system. Being the most popular operating system means
        that Windows enjoys the greatest level of software compatibility, with the vast majority of 
        commercial software and games being compatible with Windows. 
    </p> 
</main>
<div class="references">
    <h3>References</h3>
    <ol>
        <li>
            <a href="https://gs.statcounter.com/os-market-share/desktop/worldwide/#monthly-202106-202106-bar">
                Desktop Operating System Market Share Worldwide - StatCounter
            </a>
        </li>
        <li>
            <a href="https://web.archive.org/web/20160611182917/http://windows.microsoft.com/en-in/windows/history#T1=era11">
                A history of Windows - Microsoft
            </a>
        </li>
    </ol>
</div>
<div class="updated">
    <%= updated %>
</div>
<%- include('partials/footer.ejs') %>
</body>
</html>